#alfred-container{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 200px;
    text-align: center;
    z-index: 1000;
    font-family: menlo,consolas,microsoft yahei;
}

#alfred-container *{
    box-sizing: border-box;
    margin:0
}

#alfred-input-container{
    width: 400px;
    margin: 0 auto;
    position: relative;
}

#alfred-input{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 6px 12px 6px 35px;
    background-color: #E0F7FA;
    font-size: 16px;
    line-height: 25px;
    border-radius: 3px;
}

#alfred-input.half-border{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


#alfred-loading{
    width: 400px;
    margin: 0 auto;
    background-color: rgba(225, 245, 254, 0.8);
}

#alfred-loading img{
    height: 50px;
}

#alfred-stage{
    width: 400px;
    margin: 0 auto;
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    background-color: rgba(225, 245, 254, 0.8);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#alfred-action-img{
    position: absolute;
    top: 0;
    left: 5px;
    width: 20px;
    top: 9px;
}
#alfred-stage .alfred-stage-item{
    padding: 5px;
    border-bottom: 1px solid #e0f7fa ;
}

#alfred-stage .alfred-stage-item.active{
    background: #90CAF9;
    padding:10px 5px;
}

#alfred-stage .alfred-stage-item:last-child{
    border-bottom: 0
}

#alfred-stage .alfred-item-text{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 330px;
}

#alfred-stage .alfred-item-icon{
    width: 20px;
    vertical-align: middle
}

#alfred-stage .alfred-text-subtitle{
    line-height: 20px;
    font-size: 14px;
    color: #757575;
    word-wrap: break-word;
}

#alfred-stage .alfred-text-title{
    font-size: 16px;
    line-height: 25px;
    word-wrap: break-word;
}